body{
    background-color: black;
}

nav{
    display: flex;
}

ul{
   list-style-type: none;
   display: flex;
   gap: 1.5rem;
   margin-top: 1.5rem;
   margin-left: 60rem;
}
.logo{
    color: white;
}
header{
    margin-top: 3rem;
}
a{
    text-decoration: none;
    color: white;
}
.hero-text{
    max-width: 27%;
    margin-left: 32rem;
    color: white;
    
}
h6{
    text-align: center;
}
.Vectors{
    gap: 30px
}
.para{
    transform: rotate(-30deg);
}
.Process{
     margin-top: 12rem; 
    display: flex;
    color: white; 
}

#provessParagraph{
    max-width: 140px;
    text-align: center;
}
 table{
   /* margin-left:40rem;*/
   /* width: 100rem;  */
 }
td{
    border: 0.5px solid grey;
    margin-top: 00px;
    text-align: center;
}
caption{
    transform: rotate(90deg);
    float: right;
}
/* .Works{
    display:block;
    gap: 20rem;
    margin-top: 14rem;
    
    height: 600rem
} */
/* .Zendrive{
    color: white;
    margin-top: 12rem;
    margin-left: 15rem;
    
} */
.WorkTilie{
    transform: rotate(-90deg);
    margin-bottom: 800px;
 }
 .Works{

    display:flex;
    align-items: center;
     justify-content:center; 
     gap: 90px;
    flex-wrap: wrap;
    margin-right: 160px;
    color: white;
}
.Zendrive{
    width:400px;
}

 .CoreSite{
transform:translateY(60px) ;
    width: 700px;
    
 
} 
 .SearchIo{
    width: 700px;
    max-width:120px;
  
} 
 .Whiteboard{

    transform: translateY(60px)
} 

